/*====================================================
* Filename: main.css
* Website: ACMP
* Author: Janaka De Silva
* Date Created: 12/JUN/2013
* Media: All
*------------------------------------------------------
* Description
*------------------------------------------------------
* Colours:
* Background       	-   Image
* Link             	-   Main Nav - #ffffff
* Normal Content 	- 	#fe0000
* Side Bar 			- 	#fe0000
*
* Link Hover       	-   Main Nav - #ffffff (no change)
* Normal Content 	- 	#fe0000 (no change)
* Side Bar 			- 	#fe0000
*
* Link Active      	-   Main Nav - css3 red
*
*------------------------------------------------------
* Layout Styles Index
*------------------------------------------------------
css reset
html elements
layout
template
----logo
----header-widgets
----main-nav
----secondary-nav
----login-form
----testimonial
----banner-post-a-job
----banner-post-your-resume
----contact-form
----site-map
----footer-contact
page
----home
--------flexslider
--------quick-callouts
--------login
--------hero-unit
--------callouts
--------partners-and-sponsors
----career-center
--------search-level-two
--------search-result
--------search-pager
--------tabs
----audit-library
--------hospital-search-form
--------hospital-search-result
======================================================*/
/*-----css reset-----*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:inherit;font-family:inherit;vertical-align:baseline;list-style-type:none;text-decoration:none;}
article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block;}
/*-----html elements-----*/
html{font-size:170%;color:#212121;font-family:'Karla',sans-serif;}
body{background:none no-repeat scroll 0 0 #efefef;font-size:1em;line-height:1.55em;}

h1{font-size:1.429em;line-height:1.429em;text-transform:capitalize;margin:0;padding:0;}
h2{font-size:1.286em;line-height:1.429em;text-transform:capitalize;margin:0;padding:0;}
h3,h4,h5,h6{font-size:1em;line-height:1.429em;}
p{line-height:1.47em;margin:0 0 15px;padding:0;}

a{color:#ee1c2e;cursor:pointer;outline:medium none;text-decoration:none;}
a:hover,a:focus{text-decoration:underline;}

ul{margin:0;padding:0;}
ul li{list-style:none outside none;margin:0;padding:0;}











input[type="text"] {
  background: none repeat scroll 0 0 #C1C1C1;
  border: 0 none;
  border-radius: 10px;
  display: block;
  font-size: 1em;
  margin: 0;
  padding: 2%;
  width: 96%;
}

input[type="submit"] {

}




.styled-select {
  background: url("../images/bg-select-white.png") no-repeat scroll 95% center #C1C1C1;
  border: 0 none;
  border-radius: 10px;
  overflow: hidden;
  width: 101%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.styled-select select {
background: none repeat scroll 0 0 transparent;
border: 0 none;
font-size: 1em;
margin: 0;
padding: 3% 3% 2% 3%;
text-transform: capitalize;
width: 105%;
-webkit-appearance: none;
}






/*-----layout-----*/


/*-----template-----*/






.header-nav {
position: relative;
background: #212121;
padding: 18px 0 16px 0;
margin: 0;
}
.header-nav a {
  background: url("../images/btn-back.png") no-repeat scroll 0 0 transparent;
  color: #FFFFFF;
  left: 30px;
  line-height: 56px;
  margin: 0;
  padding: 0 0 0 23px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 12px;
  width: 100px;
}
.header-nav h1 {
text-align: center;
color: #fff;
font-size: 1.429em;
line-height: 1.2em;
}










#nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

#nav li {
  width: 100%;
  display: block;
}

.js #nav {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

#nav.opened {
  max-height: 9999px;
}


@media screen and (min-width: 40em) {
  .js #nav {
    position: relative;
  }
  .js #nav.closed {
    max-height: none;
  }
  #nav-toggle {
    display: none;
  }
  .logo-mini {
    display: none;
  }
}

.footer-main #nav-toggle {
  -moz-user-select: none;
  background: url("../images/responsive-nav-hamburger-red.png") no-repeat scroll 0 0 #eeeeee;
  float: left;
  height: 43px;
  overflow: hidden;
  text-indent: -9999px;
  width: 53px;
  padding: 0;
  margin: 28px 0 28px 43px;
}

.footer-main a.logo-mini {
  -moz-user-select: none;
  background: url("../images/logo-acmp-mini.png") no-repeat scroll 0 0 #EEEEEE;
  float: right;
  height: 46px;
  overflow: hidden;
  text-indent: -9999px;
  width: 182px;
  clear: both;
  margin: 27px 40px 0 0;
}


























.profile-bio {
float: left;
    width: 100%;
}
.profile-bio h3 {
  background: url("../images/accordion-down.png") no-repeat scroll 96% center #EE322B;
  color: #FFFFFF;
  margin: 0 0 1px !important;
}
.profile-bio h3.ui-state-active {
  background: url("../images/accordion-up.png") no-repeat scroll 96% center #302f2f;
}

.profile-bio div {
	height: auto !important;
}
.profile-bio div ul {}
.profile-bio div ul li {
  float: left;
  width: 100%;
}
.profile-bio div ul li p {
	float: left;
	width: 30%;
}
.profile-bio div ul li ul {
	float: left;
  padding: 12px 0 0 0;
}
.profile-bio div ul li ul li {
width: auto;
}
.profile-bio div ul li ul li a {
  background: url("../images/accordion-rating-star.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 18px;
  margin: 0 10px 0 0;
  padding: 0;
  text-indent: -9999em;
  width: 18px;
}






/*home*/


a.logo {
  background: url("../images/logo-acmp.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 118px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  text-indent: -9999em;
  width: 469px;

}
a.logo h1 {
  margin: 0;
  padding: 0;
}

a.find-photographer {
  background: url("../images/bg-home-big-links.png") no-repeat scroll 20px center #EE1C2E;
  border-radius: 30px 30px 30px 30px;
  display: block;
  line-height: 127px;
  padding: 0 0 0 120px;
  color: #ffffff;
  text-decoration: none;
}

a.find-photographer span {
  background: url("../images/btn-find-a-photographer.png") no-repeat scroll 0 0 transparent;
  float: right;
  height: 127px;
  width: 136px;
}


a.find-assistant {
  background: url("../images/bg-home-big-links.png") no-repeat scroll 20px center #fb5e1a;
  border-radius: 30px 30px 30px 30px;
  display: block;
  line-height: 127px;
  padding: 0 0 0 120px;
  color: #ffffff;
  text-decoration: none;
}

a.find-assistant span {
  background: url("../images/btn-find-an-assistant.png") no-repeat scroll 0 0 transparent;
  float: right;
  height: 127px;
  width: 136px;
}

.today-photographer {

}
.today-photographer h2 {
	text-align: center;
}
.today-photographer a {

}
.today-photographer a img {
display: block;
margin: 0 auto;
}




/*assistant profile*/
.assistant-profile {}
.assistant-profile header {
  background: #ffffff;
position: relative;
margin: 0;
padding: 15px 46px 8px 46px;
}
a.profile-star {
  background: url("../images/ico-profile-star-off.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 40px;
  position: absolute;
  right: 39px;
  text-indent: -9999em;
  top: 18px;
  width: 42px;
}
a.profile-star:hover,
a.profile-star:focus,
a.profile-star.active {
background: url("../images/ico-profile-star.png") no-repeat scroll 0 0 transparent;
}
.assistant-profile header h1 {
line-height: 1.2em;
}
.assistant-profile header h2 {
color: #737272;
font-size: 1.3em;
line-height: 1.2em;
}

.assistant-profile .profile {
  background: none repeat scroll 0 0 #E0DFDF;
  float: left;
  overflow: hidden;
  width: 100%;
}
.assistant-profile .profile .profile-pic {
	float: left;
}
.assistant-profile .profile .profile-pic img {float: left;}
.assistant-profile .profile .profile-info {
float: left;
margin: 0;
padding: 24px 0 0 48px;
}
.assistant-profile .profile .profile-info h3 {
font-weight: 700;
padding: 0 0 4px;
margin: 0;
}
.assistant-profile .profile .profile-info p {
margin: 0;
padding: 0 0 3px;
}
.assistant-profile .profile .profile-info a {
font-weight: 700;
text-decoration: underline;
}









/*favourites*/
.favourites {
margin: 0;
padding: 0;
float: left;
overflow: hidden;
width: 100%;
background: #e0dfdf;
}

.favourites header {
background: #ffffff;
width: 100%;
overflow: hidden;
float: left;
}

.favourites-stack {
width: 100%;
overflow: hidden;
float: left;
}

.favourites-item {
  float: left;
  width: 100%;
  overflow: hidden;
margin: 0;
padding: 0 0 23px;
border-bottom: 1px solid #bebebe;
}
.favourites-item .favourites-item-wrapper {
margin: 0;
padding: 0 0 0 46px;
overflow: hidden;
}
.favourites-item header {
position: relative;
background: #e0dfdf;
margin: 0;
padding: 26px 0 15px;
}
.favourites-item header h2 {
font-size: 1em;
line-height: 1em;
margin: 0;
padding: 0;
}
.favourites-item header a.remove {
  background: url("../images/ico-favourites-item-remove.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 28px;
  position: absolute;
  right: 38px;
  text-indent: -9999em;
  top: 26px;
  width: 28px;
}
.favourites-item .favourites-item-inner {
  width: 100%;
  float: left;
}
.favourites-item .favourites-item-inner .image {
  float: left;
  width: 220px;
}
.favourites-item .favourites-item-inner .image img {}
.favourites-item .favourites-item-inner .info {
  float: left;
  width: auto;
  margin: 0;
  padding: 0 0 0 25px;
}
.favourites-item .favourites-item-inner .info p {
margin: 0;
padding: 0 0 10px;
line-height: 1em;
font-size: 0.9em;
}
.favourites-item .favourites-item-inner .info p.telephone {
  color: #EE1C2E;
}
.favourites-item .favourites-item-inner .info a.email {
background: none repeat scroll 0 0 #212121;
border-radius: 3px 3px 3px 3px;
color: #FFFFFF;
float: left;
line-height: 1.9em;
margin: 0 10px 0 0;
padding: 0 17px;
font-size: 0.8em;
}
.favourites-item .favourites-item-inner .info a.profile {
  background: none repeat scroll 0 0 #EE1C2E;
  border-radius: 3px 3px 3px 3px;
  color: #FFFFFF;
  float: left;
line-height: 1.9em;
margin: 0 13px 0 0;
padding: 0 14px;
font-size: 0.8em;
}
.favourites-item .favourites-item-inner .info a.type-icon.p {
  background: url("../images/ico-favourites-item-photographer.png") no-repeat scroll center 0 transparent;
  float: left;
  height: 45px;
  text-indent: -9999em;
  width: 49px;
  margin: -5px 0 0 0;
}
.favourites-item .favourites-item-inner .info a.type-icon.a {
    background: url("../images/ico-favourites-item-assistant.png") no-repeat scroll center 0 transparent;
    float: left;
    height: 40px;
    margin: 0;
    text-indent: -9999em;
    width: 49px;
}












/*search photographer*/


.advance-search {

}
.advance-search-form {}
.advance-search-form .keyword-search {
float: left;
background: #ffffff;
width: 86%;
overflow: hidden;
padding: 2% 7% 3%;
}
.advance-search-form .keyword-search input[type="text"] {
background: url("../images/ico-search.png") no-repeat scroll 2% center #C1C1C1;
padding: 2.5% 2% 2.5% 6%;
width: 93%;
}



.advance-search-form .criteria {
float: left;
width: 86%;
padding: 18px 7%;
border-bottom: 1px solid #bebebe;
}
.advance-search-form .criteria h2 {
  padding:0 0 7px;
}
.advance-search-form .form-row {
  float: left;
  width: 100%;
margin: 0 0 25px;
}

.advance-search-form .form-row .form-cell .city {float: left;}
.advance-search-form .form-row .form-cell .city-text {float: left;}

.advance-search-form .search-submit {
  float: left;
  background: #ffffff;
  width: 100%;
  padding:25px 0;
  margin: 0;
}
.advance-search-form .search-submit a.reset {
float: left;
margin: 14px 0 0 43px;
font-size: 0.76em;
}
.advance-search-form .search-submit a.search {
background: none repeat scroll 0 0 #EE1C2E;
border-radius: 5px 5px 5px 5px;
color: #FFFFFF;
float: right;
line-height: 2.27em;
margin: 0 40px 0 0;
padding: 0 21px;
}





















