/*====================================================
* Filename: main.css
* Website: ACMP
* Author: Janaka De Silva
* Date Created: 12/JUN/2013
* Media: All
*------------------------------------------------------
* Description
*------------------------------------------------------
* Colours:
* Background       	-   Image
* Link             	-   Main Nav - #ffffff
* Normal Content 	- 	#fe0000
* Side Bar 			- 	#fe0000
*
* Link Hover       	-   Main Nav - #ffffff (no change)
* Normal Content 	- 	#fe0000 (no change)
* Side Bar 			- 	#fe0000
*
* Link Active      	-   Main Nav - css3 red
*
*------------------------------------------------------
* Layout Styles Index
*------------------------------------------------------
css reset
html elements
layout
template
----logo
----header-widgets
----main-nav
----secondary-nav
----login-form
----testimonial
----banner-post-a-job
----banner-post-your-resume
----contact-form
----site-map
----footer-contact
page
----home
--------flexslider
--------quick-callouts
--------login
--------hero-unit
--------callouts
--------partners-and-sponsors
----career-center
--------search-level-two
--------search-result
--------search-pager
--------tabs
----audit-library
--------hospital-search-form
--------hospital-search-result
======================================================*/
/*-----css reset-----*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:inherit;font-family:inherit;vertical-align:baseline;list-style-type:none;text-decoration:none;}
article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block;}
/*-----html elements-----*/
html{font-size:170%;color:#212121;font-family:'Karla',sans-serif;}
body{background:none no-repeat scroll 0 0 #efefef;font-size:1em;line-height:1.55em;}

h1{font-size:1.429em;line-height:1.429em;text-transform:capitalize;margin:0;padding:0;}
h2{font-size:1.286em;line-height:1.429em;text-transform:capitalize;margin:0;padding:0;}
h3,h4,h5,h6{font-size:1em;line-height:1.429em;}
p{line-height:1.47em;margin:0 0 15px;padding:0;}

a{color:#ee1c2e;cursor:pointer;outline:medium none;text-decoration:none;}
a:hover,a:focus{text-decoration:underline;}

ul{margin:0;padding:0;}
ul li{list-style:none outside none;margin:0;padding:0;}

/*-----layout-----*/


/*-----template-----*/






.header-nav {
position: relative;
background: #212121;
padding: 22px 0 20px 0;
margin: 0;
}
.header-nav a {
  background: url("../images/btn-back.png") no-repeat scroll 0 0 transparent;
  color: #FFFFFF;
  left: 0;
  line-height: 56px;
  margin: 0;
  padding: 0 0 0 23px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 0;
  width: 100px;
}
.header-nav h1 {
text-align: center;
color: #fff;
font-size: 1.429em;
line-height: 1em;
}










#nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

#nav li {
  width: 100%;
  display: block;
}

.js #nav {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

#nav.opened {
  max-height: 9999px;
}


@media screen and (min-width: 40em) {
  .js #nav {
    position: relative;
  }
  .js #nav.closed {
    max-height: none;
  }
  #nav-toggle {
    display: none;
  }
  .logo-mini {
    display: none;
  }
}

.footer-main #nav-toggle {
  -moz-user-select: none;
  background: url("../images/responsive-nav-hamburger-red.png") no-repeat scroll 50% 33% #eeeeee;
  float: left;
  height: 55px;
  overflow: hidden;
  text-indent: -9999px;
  width: 70px;
}

.footer-main a.logo-mini {
  -moz-user-select: none;
  background: url("../images/logo-acmp-mini.png") no-repeat scroll 50% 33% #EEEEEE;
  float: right;
  height: 46px;
  overflow: hidden;
  text-indent: -9999px;
  width: 182px;
  clear: both;
}



.profile-bio {
float: left;
    width: 100%;
}
.profile-bio h3 {
  background: url("../images/accordion-down.png") no-repeat scroll right center #EE322B;
  color: #FFFFFF;
}
.profile-bio h3.ui-state-active {
  background: url("../images/accordion-up.png") no-repeat scroll right center #302f2f;
}

.profile-bio div {
	height: auto !important;
}
.profile-bio div ul {}
.profile-bio div ul li {
  float: left;
  width: 100%;
}
.profile-bio div ul li p {
	float: left;
	width: 30%;
}
.profile-bio div ul li ul {
	float: left;
}
.profile-bio div ul li ul li {
width: auto;
}
.profile-bio div ul li ul li a {
  background: url("../images/accordion-rating-star.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 18px;
  margin: 0 10px 0 0;
  padding: 0;
  text-indent: -9999em;
  width: 18px;
}






/*home*/


a.logo {
  background: url("../images/logo-acmp.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 118px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  text-indent: -9999em;
  width: 469px;

}
a.logo h1 {
  margin: 0;
  padding: 0;
}

a.find-photographer {
  background: url("../images/bg-home-big-links.png") no-repeat scroll 20px center #EE1C2E;
  border-radius: 30px 30px 30px 30px;
  display: block;
  line-height: 127px;
  padding: 0 0 0 120px;
  color: #ffffff;
  text-decoration: none;
}

a.find-photographer span {
  background: url("../images/btn-find-a-photographer.png") no-repeat scroll 0 0 transparent;
  float: right;
  height: 127px;
  width: 136px;
}


a.find-assistant {
  background: url("../images/bg-home-big-links.png") no-repeat scroll 20px center #fb5e1a;
  border-radius: 30px 30px 30px 30px;
  display: block;
  line-height: 127px;
  padding: 0 0 0 120px;
  color: #ffffff;
  text-decoration: none;
}

a.find-assistant span {
  background: url("../images/btn-find-an-assistant.png") no-repeat scroll 0 0 transparent;
  float: right;
  height: 127px;
  width: 136px;
}

.today-photographer {

}
.today-photographer h2 {
	text-align: center;
}
.today-photographer a {

}
.today-photographer a img {
display: block;
margin: 0 auto;
}




/*assistant profile*/
.assistant-profile {}
.assistant-profile header {background: #ffffff;position: relative;}
.assistant-profile header a.profile-star {
  background: url("../images/ico-profile-star.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 40px;
  position: absolute;
  right: 0;
  text-indent: -9999em;
  top: 0;
  width: 42px;
}
.assistant-profile header h1 {}
.assistant-profile header h2 {color: #737272;}

.assistant-profile .profile {}
.assistant-profile .profile .profile-pic {
	float: left;
	width: 50%;
}
.assistant-profile .profile .profile-pic img {}
.assistant-profile .profile .profile-info {
	float: left;
	width: 50%;
	background: #e0dfdf;
}
.assistant-profile .profile .profile-info h3 {font-weight: 700;}
.assistant-profile .profile .profile-info p {margin: 0;padding:0;}
.assistant-profile .profile .profile-info a {font-weight: 700;}









/*favourites*/
.favourites {
margin: 0;
padding: 0;
float: left;
overflow: hidden;
width: 100%;
background: #e0dfdf;
}

.favourites header {
background: #ffffff;
width: 100%;
overflow: hidden;
float: left;
}

.favourites-stack {
width: 100%;
overflow: hidden;
float: left;
}

.favourites-item {
  float: left;
  width: 100%;
  overflow: hidden;
margin: 0;
padding: 0 0 23px;
border-bottom: 1px solid #bebebe;
}
.favourites-item .favourites-item-wrapper {
margin: 0;
padding: 0 0 0 46px;
overflow: hidden;
}
.favourites-item header {
position: relative;
background: #e0dfdf;
margin: 0;
padding: 26px 0 15px;
}
.favourites-item header h2 {
font-size: 1em;
line-height: 1em;
margin: 0;
padding: 0;
}
.favourites-item header a {
  background: url("../images/ico-favourites-item-remove.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 28px;
  position: absolute;
  right: 38px;
  text-indent: -9999em;
  top: 26px;
  width: 28px;
}
.favourites-item .favourites-item-inner {
  width: 100%;
  float: left;
}
.favourites-item .favourites-item-inner .image {
  float: left;
  width: 220px;
}
.favourites-item .favourites-item-inner .image img {}
.favourites-item .favourites-item-inner .info {
  float: left;
  width: auto;
  margin: 0;
  padding: 0 0 0 25px;
}
.favourites-item .favourites-item-inner .info p {
margin: 0;
padding: 0 0 10px;
line-height: 1em;
font-size: 0.9em;
}
.favourites-item .favourites-item-inner .info p.telephone {
  color: #EE1C2E;
}
.favourites-item .favourites-item-inner .info a.email {
background: none repeat scroll 0 0 #212121;
border-radius: 3px 3px 3px 3px;
color: #FFFFFF;
float: left;
line-height: 1.9em;
margin: 0 10px 0 0;
padding: 0 17px;
font-size: 0.8em;
}
.favourites-item .favourites-item-inner .info a.profile {
  background: none repeat scroll 0 0 #EE1C2E;
  border-radius: 3px 3px 3px 3px;
  color: #FFFFFF;
  float: left;
line-height: 1.9em;
margin: 0 13px 0 0;
padding: 0 14px;
font-size: 0.8em;
}
.favourites-item .favourites-item-inner .info a.type-icon {
  background: url("../images/ico-favourites-item-photographer.png") no-repeat scroll 0 0 transparent;
  float: left;
  height: 45px;
  text-indent: -9999em;
  width: 49px;
margin: -5px 0 0 0;
}





































